<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

    <link rel="icon" href="/statics/favicon.ico" />

    <script src="/statics/webapp/bundle-app.js" defer></script>
    <script>
        window.__PRELOADED_STATE__ = "{{{ state }}}";
    </script>
</head>

<body>
    <div id="app-container">
        {{{ html }}}
    </div>
</body>

</html>